@font-face {
    font-family: matteo-medium;
    src: url('../assets/fonts/Matteo-Medium.ttf');
  }
  @font-face {
    font-family: matteo-semibold;
    src: url('../assets/fonts/Matteo-Semibold.ttf');
  }
  @font-face {
    font-family: matteo-regular;
    src: url('../assets/fonts/Matteo-Regular.ttf');
  }
  @font-face {
    font-family: matteo-bold;
    src: url('../assets/fonts/Matteo-Bold.ttf');
  }